.all_cat {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.cat_header {
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    margin:2rem auto 2rem 15rem;
}


.cat_list {
    border: 2px solid black;
    border-radius: 0.25rem;
    width: 25rem;
    margin: 0 10em;
    padding: 0.5rem;
}

aside {
    text-align: right;
}

.input_cat {
    border: 2px solid black;
    border-radius: 2rem;
    text-align: center;
    padding: 1rem;
}

.btn {
    margin: 1rem 0 0 0;
}

.dt_btn {
    background-color: none;
    border: none;
}
